################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fitsmu-1b/x64/Debug
